$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

.container{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // padding: 6rem;

    width: 100vw;
}

.introContainer{
        font-weight: 500;
        font-size:1.25rem;
        align-items: center;
        margin-top: 3rem;

        @media (max-width: $breakpoint-tablet) {
            font-size:0.8rem;
            font-weight: 600;
            margin-top:1rem;
        }

}


.introLandJob{
    font-weight:600;
    font-size:3rem;
    margin-top:3rem;

    @media (max-width: $breakpoint-tablet) {
        font-size:1.5rem;
        font-weight: 900;
        margin-top:1rem;
    }

    // display: flex;
    // flex-direction:  column;
}